
body {
  padding: 0;
  font-family: 'Poiret One', cursive;
  margin: 0;
  /* cursor: none; */
  color: rgb(71, 70, 66);
  height:100%;
  overflow:auto;
}

#mainText h1{
    padding-top: 400px;
    color: #3285da;
}

#mainText article {
    font-family: "Josefin Sans", sans-serif;
    margin: 0 auto;
    font-size: 1.1rem;
    width: 600px;
    line-height: 1.5rem;
    padding-top: 300px;
    color: #e3624c;
}

#mainText h1 {
    font-size: 7rem;
    margin-bottom: 0px;
}

/* nav ul li a {
    pointer-events: all !important;
    cursor: none;
} */

nav {
    font-size: 0.8rem;
    margin-top: -60px;
    padding: 0px;
    position: fixed;
    text-align: center;
    width: 100%;
}   

nav a {
    text-decoration: none;
    color: #e3624c;
}

nav h5 {
    display: inline;
}

#bottom {
    bottom: 0;
    color: #e3624c;
}

#left {
    float: left;
    padding-left: 20px;
}

#right {
    float: right;
    padding-right: 20px;
}

#leftBtn{
    padding-left: 20px;
    float: left;
}

#rightBtn {
    padding-right: 20px;
    float: right;
}

#main_thumbnail {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 300px;
    margin-bottom: 200px;
    justify-content: center;
}

#main_thumbnail img{
    display: block;
    padding-right: 50px;
    width: 300px;
    height: 300px;
    padding-bottom: 80px;
}


.switch {
    display: block;
    opacity: 0%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99; 
    }


.thumbnails .switch:hover{
    opacity: 100%;
}

.thumbnails img:hover + .imgTitle{
    display: none;
}

.thumbnails {
    position: relative;
}

.imgTitle {
    position: absolute;
    display: block;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poiret One', cursive;
    font-size: 2.3rem;
    color:rgb(71, 70, 66);
}

.thumbnails a {
    cursor: none;
}

@media only screen and (max-width: 1200px) {
#mainText h1 {
    font-size: 6rem;
    margin-bottom: 30px;
}

#mainText p {
    font-size: 1rem;
}

#main_thumbnail {
    position: relative;
    float: none;
    display: flex;
    flex-direction: row;
}

.imgTitle {
    top: 30%;
    left: 40%;
}
}

@media only screen and (max-width: 600px) {

#mainText h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

#mainText article {
    margin: 0 auto;
    font-size: 0.7rem;
    line-height: 1rem;
    width: 80%;
}

#mainText .btn {
    font-size: 0.7rem;
}

nav ul {
    padding-top: 20px;
}

nav li:not(:last-child){
    margin-right: 5px;
}

#main_thumbnail {
    overflow-y: auto;
    overflow-x: scroll;
    position: relative;
    float: none;
    display: block;
    flex-direction: row;
    margin: 100px 0px;
    padding-right: 0px;
    padding-left: 0px;
}

#main_thumbnail img{
    margin: 0px auto;
    padding-right: 0px;
}

.switch {
    display: none;
    }

.thumbnails .switch:hover{
    opacity: 0%;
    }

.imgTitle {
    top: 32%;
    left: 50%;
}
}