
body {
  padding: 0;
  font-family: 'Poiret One', cursive;
  margin: 0;
  height:100%;
  overflow:auto;
  background-color: rgb(245,251,243);
}

#mainText h1{
    padding-top: 400px;
    color: #3285da;
}

#mainText article {
    padding-top: 300px;
}

article {
    font-family: "Josefin Sans", sans-serif;
    margin: 0 auto;
    font-size: 1.1rem;
    width: 600px;
    line-height: 1.5rem;
    color: #e3624c;
    text-align: center;
}

.section-header {
    padding-top: 200px;
}

.section {
    padding-top:50px;
}

.section-end {
    padding-top:50px;
    padding-bottom: 200px;
}

#mainText h1 {
    margin-top: 0px;
    font-size: 7rem;
    margin-bottom: 0px;
}

nav {
    font-size: 0.8rem;
    margin-top: 15px;
    padding: 0px;
    position: fixed;
    text-align: center;
    width: 100%;
}  

nav a {
    text-decoration: none;
    color: #e3624c;
}

nav a:hover {
    border-bottom: 1px dashed #3285da;
    padding-bottom: 5px;
}

nav h5 {
    display: inline;
}

#bottom {
    bottom: 0;
    color: #e3624c;
}

#left {
    float: left;
    margin-left: 20px;
}

#right {
    float: right;
    margin-right: 20px;
}

#leftBtn{
    margin-left: 20px;
    float: left;
}

#middleBtn{
    margin-left: 60px;
  }
  

#rightBtn {
    margin-right: 20px;
    float: right;
}

#main_thumbnail {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    max-width: 800px;
    margin: 300px auto 80px auto;
}

#main_thumbnail img{
    display: block;
    width: 300px;
    height: 300px;
    margin-bottom: 80px;
}


.switch {
    display: block;
    opacity: 0%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99; 
    }


.thumbnails .switch:hover{
    opacity: 100%;
}

.thumbnails img:hover + .imgTitle{
    display: none;
}

.thumbnails {
    position: relative;
}

.imgTitle {
    position: absolute;
    display: block;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poiret One', cursive;
    font-size: 2.3rem;
    color: #3285da;
}

#end,.links {
    text-align: center;
    margin-bottom: 100px;
    color: #e3624c;
    line-height: 2.5rem;
}

.links {
    text-decoration: none;
    color: #e3624c;
}

#end a:hover, .links:hover {
    border-bottom: 1px dashed #3285da;
    padding-bottom: 5px;
}

.about {
    width: 100%;
}

@media only screen and (max-width: 1200px) {
#mainText h1 {
    font-size: 6rem;
    margin-bottom: 30px;
}

#mainText p {
    font-size: 1rem;
}

#main_thumbnail {
    position: relative;
    float: none;
    display: flex;
    flex-direction: row;
}

.imgTitle {
    top: 30%;
    left: 40%;
}
}

@media only screen and (max-width: 600px) {

#mainText h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

#mainText article {
    margin: 0 auto;
    font-size: 0.7rem;
    line-height: 1rem;
    width: 80%;
}

#mainText .btn {
    font-size: 0.7rem;
}

nav ul {
    padding-top: 20px;
}

nav li:not(:last-child){
    margin-right: 5px;
}

#main_thumbnail {
    overflow-y: auto;
    overflow-x: scroll;
    position: relative;
    float: none;
    display: block;
    flex-direction: row;
    margin: 100px 0px;
    padding-right: 0px;
    padding-left: 0px;
}

#main_thumbnail img{
    margin: 0px auto;
    padding-right: 0px;
}

.switch {
    display: none;
    }

.thumbnails .switch:hover{
    opacity: 0%;
    }

.imgTitle {
    top: 32%;
    left: 50%;
}
}